.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
      }
.logo{
       background-image: url(../download.jpeg);

}
.menu{
       background-image: url(../download.jpeg);         
}

              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
