
.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
       
       
      }
.logo{
       width:25%;
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.menu .nevbar{
       width:100%;
        height:100%;
       }

.menu.nevbar ul{
       width:100%;
        height:100%;
           display:flex;
          
       align-items:center;
           justify-content:space-around;
      
     
      
}
.menu.nevbar ul li{
                list-style-type:none;
                padding-bottom:2%;
    
}


.menu .nevbar ul li a{
          text-decoration:none;
          color: green;
          font-size:min(1.5vh,1.5vw);  
             position:absolute;
}
              
body{
  margin:0;
       padding:0;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
