*{
 margin:0;
 padding:0;
}

.header{
 width:100%;
       height: 10%;
       background-color: yellow;
       display:flex; 
}
.logo{ 
       width:25%;
       height:100%;
       background-color:black;
}

.logo a{
 width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
 height:100%;
       background-color:skyblue;

}
.nevbar{
       width:100%;
        height:100%;
       }

.nevbar ul{
            width:90%;
            height:100%;
            display:flex;
            text-decoration:none; 
            justify-content: space-around;
            align-items:center;     
      
}
.nevbar ul li{
            position:relative;
 height:100%;
 display:flex;
                list-style-type:none;
                padding-bottom:2%;
    align-items:center;
}


.nevbar ul li a{
 height:10%;
 padding:30%;
          text-decoration:none;
          color: green;
          font-size:min(1.5vw,1.5vw);  
         
}

.nevbar ul li .submenu {
  display: none;
  position: absolute;
 top:100%;
  background-color: red;
  max-width: 100%;
  height: auto;
 left:50%;
 transform: translateX(-50%);
  border: 1px solid #ccc;
  /* padding: 5px 0; */
  z-index: 10;
/* box-sizing:border-box;*/
 overflow:hidden;
}

/* ---- SUBMENU ITEMS ---- */
.nevbar ul li .submenu li {
    list-style: none;
    padding: 5px 10px;
    text-align: left;
 height:100%;

}

.nevbar ul li .submenu li a {
    color: black;
    font-size: 1vw;
    text-decoration: none;
    position: relative;   /* important: aapki old absolute position se clash avoid karega */
 white-space:nowrap;
 display:block;/*... dikhane ke liye*/
  overflow:hidden;
 text-overflow:ellipsis;
}

/* ---- HOVER рдкрд░ SUBMENU SHOW ---- */
.nevbar ul li:hover .submenu {
    display: block;
}







/* 


.header .menu{
width:50%;
 background-color:white;
}

.header .menu .menubar{
 width:0%;
 height:0%;
}
.header .menu .mobilebar{
 width:100%;
 height:100%;
}

 */
