.divmain{
display:flex;
  width:50%
}


.childdiv{
  width:50%;
  height:100%;
  background-color:red;
  border:15px solid yellow;
}


.childdiv:nth-of-type(2){


  background-color:green !important;
}
