.header{width:100%;
       height: 10%;
       background-color: yellow;
      }

body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:50%;
         background-color:red;}
}
