.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
            overflow:hidden;
       
      }
.logo{
       width:25%;
       height:100%;
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.nevbar{
       width:100%;

       }

.nevbar ul{
           display:flex;
           list-style:none;
           text-decoration:none;
           justify-content: space-around;
      
}


.nevbar ul li a{
          text-decoration:none;
          color: green;
          justify-content:center;
          min-width:(1.5vw,1.5vw);     
}
              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
