.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
        margin:0px;
    
      }
.logo{
       width:25%;
       height:100%;
       background-color:black;  
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;
}

.nevbar ul{display:flex;
           text-decoration:none;
           list-style:none;
}
.nevbar ul li{
              pedding:30px;
       
}

.nevbar ul li a{
          text-decoration:none;
         
}
              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
