.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
      }
.logo{
       width:20%;
}
.menu{
       width:80%;    
}

              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
