.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
        margin:0px;
      }
.logo{margin:0px;
       width:30%;
       height:100%;
    
  
}
.menu{
       width:80%;    
}

.logo a{width:100%;
    height:100%;
    display:flex;
        justify-content:center;
   }
         
.logo a img{width:auto;
    height:auto;    
   }
              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
