.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
      }
.logo{margin:0px;
       width:20%;
       height:10%;
    
  
}
.menu{
       width:80%;    
}

.logo a{width:100%;
    height:100%;
          display:flex;
        align-items:center;
   }
         
.logo a img{width:auto;
    height:auto;
          align-items:center;       
   }
              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
