.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
        margin:0px;
      }
.logo{margin:0px;
       width:25%;
       height:100%;
    background-color:black;
  
}
.menu{
       width:75%;   
       pedding:10%;
       justify-content:center;
}

.logo a{width:100%;
    height:100%;
    display:flex;
        justify-content:center;
   }
         
.logo a img{width:auto;
    height:auto; 
            shape:circle;
   }
              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
