*{margin:0;
 padding:0;}

.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
       
       
      }
.logo{ 
       width:25%;
       height:100%;
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.nevbar{
       width:100%;
        height:100%;
       }

.nevbar ul{
            width:100%;
            height:100%;
            display:flex;
            text-decoration:none; 
            justify-content: space-around;
            align-items:center;     
      
}
.nevbar ul li{
                list-style-type:none;
                padding-bottom:2%;
    
}


.nevbar ul li a{
          text-decoration:none;
          color: green;
          font-size:min(1.5vw,1.5vw);  
          position:absolute;
}
       
body{
  margin:0;
}





.nevbar ul li .submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 30%;
  z-index: 1;
}

/* ---- SUBMENU DEFAULT HIDDEN ---- */
.nevbar ul li .submenu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    border: 1px solid #ccc;
    padding: 5px 0;
    z-index: 10;
}

/* ---- SUBMENU ITEMS ---- */
.nevbar ul li .submenu li {
    list-style-type: none;
    padding: 5px 10px;
    text-align: left;
}

.nevbar ul li .submenu li a {
    color: black;
    font-size: 1vw;
    text-decoration: none;
    position: relative;   /* important: aapki old absolute position se clash avoid karega */
}

/* ---- HOVER рдкрд░ SUBMENU SHOW ---- */
.nevbar ul li:hover .submenu {
    display: block;
}
