.header{width:100%;
       height: 10%;
       background-color: yellow;
        display:flex;
      }
.logo{margin:0px;
       width:20%;
       height:10%;
}
.menu{
       width:80%;    
}
img{width:20%;
    height:20%;
   }
              
body{
  margin:0px;
}

@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
